<div class="container mt-3">
  <h2>Login</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3 mt-3">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        name="email"
        [formControl]="form.controls.email"
      />
    </div>
    <div class="mb-3">
      <label for="pwd">Password:</label>
      <input
        type="password"
        class="form-control"
        id="pwd"
        placeholder="Enter password"
        name="pswd"
        [formControl]="form.controls.password"
      />
    </div>
    <div class="mb-3">
      <label for="pwd">Role:</label>
      <select class="form-select" [formControl]="form.controls.roleId">
        <option value="">Choose a Role</option>
        @for(role of roleDropdown; track $index) {
        <option [value]="role.value">{{ role.text }}</option>
        }
      </select>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
