table {
    margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.pagination span, .pagination div {
    background-color: white;
}

.number-of-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ecf0f1;
    border-radius: 3px;
    width: 30px;
    height: 30px;
}

a {
    text-decoration: none;
    color: black;
}